/* Light Theme */
.light {
  --background-color:#a9c44899;
  --text-color: #000000;
}

/* Dark Theme */
.dark {
  --background-color: #093036;
  --text-color: #ffffff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

  }
  
  button:hover {
    background-color: var(--background-color);
    color: var(--text-color);
    
  }
  
  /* Modal Styles */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 189, 89, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background: lightgrey; 
    color: #49688d; 
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 100%;
    text-align: center;
  }
  
  .closeButton {
    font-size: 20px;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: rgb(174, 13, 13);
  }
  
  /* SettingsWindow Styles */
  .settingsContainer {
    padding: 20px;
    position: relative;
  }
  
  .membersList {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .memberRow {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .photo {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  
  .memberName {
    margin-left: 10px;
    text-align: left;
    margin: 20px;
  }
  
  .deleteButton {
    font-size: 10px;
    cursor: pointer;
    justify-self: end;
  }
  
  .setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  /* ShoppingListDetail Styles */
  .container {
    padding: 20px;
    background-color: #39822e3a; 
  }
  
  .header {
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
  }
  
  .userInfo {
    display: flex;
    align-items: center;
  }
  
  .userPhoto {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .languageSwitch {
    display: flex;
    gap: 10px;
  }
  
  .flag {
    width: auto;
    height: 30px;
    cursor: pointer;
  }
  
  .logo {
    width: 100px;
    border-radius: 10%;
    cursor: pointer;
  }
  
  .listHeader {
    display:flex;
    justify-content:center;
    align-items: right;
    text-align: center;
    margin: 10px;
  }
  
  .listName {
    font-size: 24px;
    font-weight: bold;
    border: none;
    background: none;
    text-align: center;
    padding: 20px;
  }
  
  .listActions {
    display:flex;
    gap: 10px;
  }
  
  .icon {
    padding: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  
  .list {
    list-style: none;
    padding: 10;
    margin: 10;
  }
  
  .listItem {
    display: flex;
    align-items: center;
    margin: 10px;
  }
  
  .itemName {
    flex-grow: 1;
    margin: 10px;
  }
  
  .addItem {
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  
  .footer {
    margin-top: 20px;
    background-color: var(--background-color);
    color: var(--text-color); 
    padding: 10px;
    border-radius: 8px;
  }
  
  .detailInfo {
    text-align: center;
  }
  
  .footerRow {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .footerColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .userDetail {
    display: flex;
    align-items: center;
  }
  
  .loginContainer {
    color: #0c540c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  .buttonContainer {
    display: auto;
    flex-direction: column;
    gap: 10px;
  }
  
  .loginButton {
    color: #0c540c;
    background-color:#0c540c15;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .loginButton:hover {
    background-color: #0c540c; 
  }
  
  .accessDeclinedContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: #0c540c;
  }

  .listArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color:#a9c44899;
    padding: 10px;
    border-radius: 8px;
  }

  .listsSort{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 10px;
    border-radius: 8px;
  }
  .auth-form {
    display: flex;
    margin: auto;
    margin-top: 100px;
    flex-direction: column;
    gap: 2rem;
    max-width: 400px;
    padding: 5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    align-content: center;
  align-self: center;
  text-align: center;
  }
  
  .input-field {
    display: flex;
    flex-direction: column;
  }
  
  .input-field label {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .input-field input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 0.7rem;
    margin: 10px;
    background-color: #3872858f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #cccccc;
  }
  
  button:hover:enabled {
    background-color: #387285df;
  }
  
  .auth-form p {
    margin-top: 1rem;
    text-align: center;
  }

  .popupMenu {
    position: absolute;
    top: 90px; /* Adjust this based on your header height */
    left: 20px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
  }
  
  .popupMenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .popupMenu li {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .popupMenu li:hover {
    background-color: #f0f0f0;
  }
  
  /* Profile Styles */
.profileImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.profileImagePreview {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 2px solid #ccc;
}
.popupBox {
  position: absolute;
  top: 10px; 
  right: 35%; 
  left: 35%;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.popupBox button {
  
  display: block;
  width: 100%;
  border: none;
  text-align: left;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}




